.btn-add{
    border-radius: 50%;
     width: 50px;
     height: 50px;     
    cursor: pointer;
    position: relative;
    left: 95%;
    margin-bottom: 10px;
    top: 30px;
    outline: none;
    text-align: center;
    font-size: 24px;
    border: none;
}
// i{
//     position: relative;
//     top:-3px;
//     left:-3px;
// }

.btn-actions{
    position: relative;
    float: right;
    width: 150px;
    margin-left: 5px;
}

.modal-dialog{
    margin-left: 400px;
    margin-top: 10px;
}

.modal-hide{
    display: none;
}