<div class="overlay">
    <div class="container-table">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <th>Nombres  y Apellidos</th>                       
                        <th>Cargo</th>
                        <th>Celular</th>
                        <th>Dirección</th>
                        <th>Correo</th>                        
                    </thead>
                    <tbody>
                        <tr *ngFor="let contact of lsContacts">
                            <td>{{ contact.name +' '+ validateStringNull(contact.lastName) | titlecase}}</td>                            
                            <td>{{ contact.jobTitle.description | titlecase }}</td>
                            <td>{{ contact.cellPhone }}</td>
                            <td>{{ contact.adress | titlecase}}</td>
                            <td>{{ contact.email | titlecase}}</td>                          
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>