
option{
    cursor: pointer;
}

select{
    cursor: pointer;
}

.container-request-risk{
    position: relative;
    left: 22%;
    top:30px;
}

.container-btnActions{
    position: relative;
    float: right;
    
}

.btn-action{
    width: 250px;
    margin-left: 5px;
}