<app-navigation></app-navigation>
<div class="container-table">
    <h1>Maestro de clientes</h1>
    <hr>
    <button class="btn btn-outline-primary btn-md waves-effect btn-filter" (click)="exportData()">Descargar archivo</button>
    <hr>
    <table class="table table-striped">
        <thead>
            <th>Documento</th>
            <th>Nombre / Razón social</th>
            <th>Ciudad</th>
            <th>Actividad económica</th>    
        </thead>
        <tbody>
            <tr *ngFor="let client of lsClient | paginate: { itemsPerPage:7, currentPage: p }">
                <td class="first-column">{{client.document}}</td>
                <td>{{client.name | titlecase}}</td>
                <td>{{client.city.name | titlecase}}</td>
                <td>{{client.economicActivity.description | titlecase}}</td>
            </tr>
        </tbody>
      
    </table>
    <div class="paginationContainer">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>

<div *ngIf="isAwaiting" class="container-img-loading">
    <div class="divBack">
        <app-img-loading></app-img-loading>
    </div>
</div>
